.header {
    background-color: green;
    color: white;
    height: 70px;
}

.navbar {
    float: left;
    font-size: 40px;
    padding: 10px 30px;
}

.home {
    float: left;
    font-size: 22px;
    padding: 20px;
}

.aboutme {
    float: left;
    font-size: 22px;
    padding: 20px;
}

.gallary {
    float: left;
    font-size: 22px;
    padding: 20px;
}

.contact {
    float:left;
    font-size: 22px;
    padding: 20px;
}